{% extends "_base.html" %}

{% set page_id = 'info' %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<br>
<p style="font-size:30px;font-family:verdana;">Archiwum koncertów</p>


<form action="/archive" method="get">
    <i>Quick search:</i> <input type="search" name="query" placeholder="Wyszukaj po nazwie zespołu" size = "25"/>
            <div style="font-size:3em; color:Black">
         <button onclick="location.href='/'" type="button" style="margin: 15px" class="btn btn-primary">
             <i class="fas fa-search"></i>
            Szukaj</button>

       </div>

        </form>

            {%for show in shows%}
            {%if query in show.band%}

           <br>
           <br>

       <dl>
       <dt>Nazwa koncertu: <a href="/show/{{ show.id }}">{{ show.name }}</a></dt>
           <br>
       <dd>Zespół: {{ show.band}}</dd>
       <dd>Gatunek: {{ show.gatunek }}</dd>
       <dd>Data i godzina koncertu: {{show.data}}, g.{{show.godzina}}</dd>
       <dd>Miejsce: {{show.venue}}</dd>
       </dl>

        {%elif query1 in show.band%}
        <br>
        <br>
         <dl>
       <dt>Nazwa koncertu: <a href="/show/{{ show.id }}">{{ show.name }}</a></dt>
           <br>
       <dd>Zespół: {{ show.band}}</dd>
       <dd>Gatunek: {{ show.gatunek }}</dd>
       <dd>Data i godzina koncertu: {{show.data}}, g.{{show.godzina}}</dd>
       <dd>Miejsce: {{show.venue}}</dd>
       </dl>

        {%elif query2 in show.band%}
        <br>
        <br>
         <dl>
       <dt>Nazwa koncertu: <a href="/show/{{ show.id }}">{{ show.name }}</a></dt>
           <br>
       <dd>Zespół: {{ show.band}}</dd>
       <dd>Gatunek: {{ show.gatunek }}</dd>
       <dd>Data i godzina koncertu: {{show.data}}, g.{{show.godzina}}</dd>
       <dd>Miejsce: {{show.venue}}</dd>
       </dl>


        {%endif%}


            {%endfor%}

<br>
<br>


  <div class="row">
      {% for show in shows %}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="{{show.picurl}}" alt="koncert">
          <div class="card-body">
            <h5 class="card-title">{{ show.name }}</h5>
            <p class="card-text">Zespół: {{ show.band }} <br> data: {{ show.data }} <br> Gdzie: {{show.venue}}</p>
            <a href="/show/{{ show.id }}" class="btn btn-primary">Zobacz szczegóły</a>
              {% if current_user.is_authenticated and current_user.admin == True %}
              <a href="/concerts-delete/{{show.id}}" class="btn btn-primary" onclick="return confirm('Czy na pewno chcesz skasować ten koncert?');"
      >Usuń ten koncert</a>
                {% endif %}
          </div>
        </div>
    </div>
      {% endfor %}
  </div>


{% endblock %}
