{% extends "_base.html" %}

{% set page_id = 'dashboard' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h3>Panel użytkownika</h3>
        <p>Witaj, {{ current_user.username }}! :-)</p>
  

Oto Twoje kupione bilety:

 <ul>
      
  {% for i in ticket %}

     <button onclick="location.href='/ticket?id={{i.ticket_id}}'" type="button">
     Bilety na koncert {{i.band}}</button>
     <br>


 </li>
     
   {% endfor %}
   
 </ul>

  

  </div>
  </div>
{% endblock %}
