{% extends "_base.html" %}

{% set page_id = 'dashboard' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<br>
      <h3>Twoje zakupione bilety</h3> <br>
        <p>Witaj, {{ current_user.username }}! </p>


   {%if ticket.count() > 0%}
Dotychczas kupiłeś przez serwis Concert Manager:

        <br>
        <br>

 <ul>
  {% for i in ticket %}

     <!--<button onclick="location.href='/ticket?id={{i.ticket_id}}'" type="button">-->
     <!--Bilety na koncert {{i.band}}</button>-->
     <br>

     <li>   <a href="/ticket?id={{i.ticket_id}}"><i class="fas fa-ticket-alt"></i> Bilety na koncert {{i.name}}</a> </li>
     <br>
       {% endfor %}
  {%else%}
      Niestety, nie kupiłeś jeszcze żadnych biletów...
         {% endif %}

 </ul>

<h5><a href="/"><i class="fas fa-home">  Home</i></a></h5>



{% endblock %}