{% extends "_base.html" %}

{% set page_id = 'info' %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<br>
      <p style="font-size:30px;font-family:verdana;">Potwierdzenie</p>
    

Usunięto koncert nr {{id}}

<br><br>
         <div>
             <h5><a href="/"><i class="fas fa-home">  Home</i></a></h5>
                 </div>



{% endblock %}
