{% extends "_base.html" %}

{% set page_id = 'info' %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

      <h3>Potwierdzenie</h3>

{% if suma > 0 %}
    Wybrałeś liczbę biletów: {{ suma }} <br> o łącznej wartości {{ kwota }} zlotych <br>na koncert {{koncert.band}} <br> data i godzina koncertu: {{koncert.data}}
        (numer koncertu: {{show_id}})
{% else %}
    Nie wybrałeś żadnego biletu!
{% endif %}

<br><br>
<h5><a href="/"><i class="fas fa-home">Home</i></a></h5>




{% endblock %}
