{% extends "_base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}"/>
</head>

        <p>Dzięki, {{ current_user.username }}! :-)
        Dodaliśmy nowy koncert!
        </p>
<br>
        Czy chcesz wysłać email do wszystkich użytkowników z informacją o nowym koncercie?
<br>
<br>

        <!--<input type="hidden" name="tak">-->
         <!--<div class="row">-->
         <!--<button onclick="location.href='/buy_ticket/confirm?id={{show_id}}'" type="submit" style="margin: 15px" class="btn btn-primary">-->
   <!--TAK</button>-->
   <!--</div>-->
        <!--<input type="hidden" name="nie">-->
         <!--<div class="row">-->
         <!--<button onclick="location.href='/buy_ticket/confirm?id={{show_id}}'" type="submit" style="margin: 15px" class="btn btn-primary">-->
   <!--NIE</button>-->
   <!--</div>-->

    <form action="{{ url_for('concerts-mail') }}" method=post>
        {{ form.hidden_tag() }}
        {{ form.submit }}
        {{ form.submit }}
        {{ form.message.label }}
        {{ form.message }}

    </form>
    <br>
    <br>

        <div>
         <a href="/"><i class="fas fa-home">Home</i></a>
    </div>




{% endblock %}
