{% extends "_base.html" %}

{% set page_id = 'info' %}


{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<style>
div.a {
    text-align:center;
}
</style>
  <div class="row">
    <div class="col-6 a" >
      <br>
      <p style="font-size:30px;font-family:verdana;">{{ koncert.name }} </p>
        <br>
        <b>Zespół: </b>{{ koncert.band }} <br>
      <b>Gatunek: </b>{{ koncert.gatunek }} <br>

    <br>{{ koncert.opis }}<br><br>

    <p><b>Data wydarzenia: </b>{{koncert.data}} <br>
        <b>Godzina wydarzenia: </b>{{koncert.godzina}}</p>
        <p><b>Miejsce wydarzenia:</b> {{koncert.venue}}
            {%if koncert.venue == "Poznań Zamek"%}
            <a href="https://goo.gl/maps/yMxREW5p11E2" target="_blank">mapa</a>
            {%elif koncert.venue == "Poznań Arena"%}
            <a href="https://goo.gl/maps/AR1JB3qTx2U2" target="_blank">mapa</a>
            {%elif koncert.venue == "Warszawa Torwar"%}
            <a href="https://goo.gl/maps/oNSUs29WeoA2" target="_blank">mapa</a>
            {%else%}
            <form action="http://www.google.pl/maps" method="get" target="_blank">
            <input type="text" name="q" placeholder="Wyszukaj miejce w Google Maps" size = "35"/>
            <input type="hidden" name="ie" value="iso-8859-2" />
            <input type="hidden" name="sitesearch" value="http://www.google.pl/maps" />
            </form>
            {%endif%}


        <br>
        <br>

     {% if current_user.is_authenticated %}
        {% if koncert.is_past==True %}
        Na to wydarzenie nie możesz już kupić biletów - koncert już się odbył.
        {% else %}
         <br> Pula biletów na ten koncert to: {{ koncert.nr_plyta_ticket+koncert.nr_trybuny_ticket+koncert.nr_vip_ticket
        + koncert.nr_gc_ticket }}
        <br>
        Kliknij "kup bilet" aby sprawdzić czy bilety są jeszcze dostępne <br><br>
         <button onclick="location.href='/buy_ticket?id={{id}}'" type="button" style="margin: 15px" class="btn btn-primary">
     Kup bilet na {{koncert.band}}</button>
    </div>
         {% endif %}
       {% else %}
        <br>
        Musisz być zalogowany, aby kupić bilet na ten koncert!! <br><br>
          {% endif %}
    </div>
     <div class="col-6 b">
         <br>
 <img class="img-responsive" src="{{koncert.picurl}}" alt="koncert" width="85%" height="85%">
     </div>



<br><br>
    <h5><a href="/"><i class="fas fa-home">  Home</i></a></h5>

<br>
<br>


{% endblock %}
