<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Logowanie</title>
	</head>
	<body>
    {% extends "_base.html" %}
    {% set page_id = 'login' %}

    {% block content %}
      <div class="row">
        <div class="col-2">


            <br>
            <p style="font-size:30px;font-family:verdana;">Logowanie</p>

            <form method="post" action="login-confirm">
                Adres e-mail: <input type="text" name="email" size = "35"/><br/>
                Hasło: <input type="password" name="password"/><br/>
                <!--<input type="submit" value="Zaloguj się"/>-->
                <div>
         <button onclick="location.href='/login'" type="submit" style="margin: 15px" class="btn btn-primary">
     Zaloguj się</button>
    </div>
            </form>
        </div>

        <div class="col-8">
        </div>

        <div class="col-2"></div>
      </div>
    {% endblock %}
	</body>
</html>
