{% extends "_base.html" %}

{% set page_id = 'logout' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
  <div class="row">
    <div class="col-12">
        <br>
      Wylogowałeś się.
    </div>
  </div>

<a href="/login">Zaloguj ponownie</a>
<br>
<br>

   <div>
     <br>
     <br>
            <h5><a href="/"><i class="fas fa-home">Home</i></a></h5>
    </div>
{% endblock %}