{% extends "_base.html" %}

{% set page_id = 'regulamin' %}

{% block content %}

<h3>Regulamin serwisu internetowego Concert Manager</h3>
<br>

<h4>Spis treści</h4>
<ul>
    <b>Postanowienia ogólne</b>
<li>Postanowienia wstępne
<li>Definicje
<li>Zakres usług<br><br>
    <b>Postanowienia dotyczące wszystkich użytkowników</b>
<li>Rozwiązanie umowy
<li>Warunki techniczne
<li>Przetwarzanie danych osobowych
<li>Cookies
<li>Zasady odpowiedzialności<br><br>
    <b>Postanowienia dotyczące usług dla organizatorów</b>
<li>Fakturowanie
<li>Opłaty
<li>Przyjmowanie płatności za Bilety
<li>Zapobieganie oszustwom
<li>Obowiązki Organizatora
<li>Powierzenie danych osobowych do przetwarzania
<li>Postanowienia różne<br><br>
    <b>Postanowienia w zakresie korzystania z Concert Manager przez kupujących bilet(y) lub dokonujących rejestracji na wydarzenia</b>
<li>Postanowienia ogólne
<li>Zawarcie umowy
<li>Formy płatności
<li>Odpowiedzialność
<li>Koszty Biletu
<li>Zwroty<br><br>
    <b>Postanowienia końcowe</b>
<li>Zmiany regulaminu
<li>Rozwiązanie umowy
<li>Postępowanie reklamacyjne
    <li>Załączniki</li>

</ul>

<br><br>

    <a href="/">Home</a>

<br><br>

{% endblock %}