{% extends "_base.html" %}

{% set page_id = 'search' %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<br>
<form action="/results/band" method="get">

        <p style="font-size:30px;font-family:verdana;">Wyszukaj wydarzenie:</p>
        <br>
        <li>Po nazwie zespołu
            <input type="search" name="query"  placeholder="Wpisz zapytanie" size = "25"/></li>


         <button type="submit" style="border-radius:5px;margin-top:20px;padding: 12px;" class="btn btn-primary"><i class="fas fa-search"></i>
     Szukaj</button>


</form>
 <br>
<form action="/results/venue" method="get">

        <li>Po miejscu wydarzenia:

            <input type="search" name="query"  placeholder="Wpisz zapytanie" size = "25"/></li>

         <button type="submit" style="border-radius:5px;margin-top:20px;padding: 12px;" class="btn btn-primary"><i class="fas fa-search"></i>
     Szukaj</button>


</form>
<br>

<form action="/results/gatunek" method="get">
    <li>Po gatunku:

        <!--<input type="search" name="query"  placeholder="Wpisz zapytanie" size = "25"></li>-->
        <select name="query">
            <option>folk</option>
            <option>hip-hop</option>
            <option>pisenka dziecięca</option>
	        <option>rock</option>
            <option>metal</option>
        </select></li>

         <button type="submit" style="border-radius:5px;margin-top:20px;padding: 12px;" class="btn btn-primary"><i class="fas fa-search"></i>
     Szukaj</button>


</form>

<br> <form action="/results/date" method="get">

    <li>Po dacie wydarzenia:</li>
        <br>

        Zakres od: <input type="date" name="query4">
        do: <input type="date" name="query5">
        <br><br>

        <button type="submit" style="border-radius:5px;margin-top:20px;padding: 12px;" class="btn btn-primary"><i class="fas fa-search"></i>
     Szukaj</button>




    </form>
<br>
<br>
<h5><a href="/"><i class="fas fa-home">  Home</i></a></h5>
<br><br>

  {% endblock %}


