{% extends "_base.html" %}

{% block content %}

<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<div class="row">
    <div class="col-12">

        {% if current_user.username==ticket.user_login %}
                    <br><br>
        <p style="font-size:30px;font-family:verdana;">Podsumowanie zakupów dla użytkownika {{ ticket.user_login }}:</p>
        <br>
        <!--login kupującego: {{ ticket.user_login }} <br>-->
        <!--numer koncertu: {{ticket.show_id}} <br>-->
        {% if ticket.nr_plyta_ticket>0 %}Ilość biletów na płytę: {{  ticket.nr_plyta_ticket }} <br>
        Lączna wartość biletów na płytę: {{  "%.2f"|format(ticket.price_plyta_ticket) }} zł <br> {%endif%}

        {%if ticket.nr_trybuny_ticket>0%} Ilość biletów na trybuny: {{  ticket.nr_trybuny_ticket }} <br>
        Lączna wartość biletów na trybuny: {{ "%.2f"|format(ticket.price_trybuny_ticket) }} zł <br>{%endif%}

        {%if ticket.nr_gc_ticket>0%} Ilość biletów na golden circle: {{  ticket.nr_gc_ticket }} <br>
        Lączna wartość biletów na GC: {{ "%.2f"|format(ticket.price_gc_ticket) }} zł <br>{%endif%}

        {% if ticket.nr_vip_ticket>0%} Ilość biletów VIP: {{  ticket.nr_vip_ticket }} <br>
        Lączna wartość biletów VIP: {{  "%.2f"|format(ticket.price_vip_ticket) }} zł <br>{%endif%}
            
             <br>
        <br>

        <h3>Do zapłaty łącznie: {{ "%.2f"|format(ticket.price_plyta_ticket + ticket.price_trybuny_ticket +
            ticket.price_gc_ticket + ticket.price_vip_ticket) }} zł</h3>

        <br>
        <br>
        <a href="/"><i class="fas fa-money-bill-alt">Przejdź do płatności online</i></a>

        <br>
        <br>
        <br>
        <br>
            
        {% else %}
        <br> Tu nie ma żadnych informacji dla Ciebie :-)
        {% endif %}


        <div>
            <h5><a href="/"><i class="fas fa-home">Home</i></a></h5>
    </div>



{% endblock %}
